extends layout

block title
    +Title('Dashboard')

block section
    section
        .container-fluid
            .row
                .col-xl-10.col-lg-9.col-md-8.pl-3.ml-auto
                    .row.pt-5.mt-3.mb-5
                        .col-sm-12
                            .image-wrapper.px-3.float-left
                                img(src="https://imgur.com/QvReqZN.png", width="170")
                            .single-post-content-wrapper.p-3
                                span.font-weight-bold Crucian is my discord bot with simple structure based on discord.js
    hr
    section
        .container-fluid
            .row.mb-5
                .col-xl-10.col-lg-9.col-md-8.ml-auto
                    .row
                        .col-12
                            h3.text-muted.text-center.mb-3 Commands
                            table.table.table-dark.table-hover.text-center#commands
                                thead
                                    tr.text-muted
                                        th #
                                        th Name
                                        th.d-none.d-sm-table-cell Alias
                                        th Description
                                        th Usage
                                        th.d-none.d-sm-table-cell Cooldown
                                tbody
                                    - var i = 0;

                                    - for (let [name, details] of Array.from(commands))
                                        tr
                                            th= ++i
                                            td= name
                                            td.d-none.d-sm-table-cell= details.aliases.join(', ')
                                            td= details.description
                                            td= details.usage
                                            td.d-none.d-sm-table-cell= details.cooldown > 0 ? ms(details.cooldown) : '-'
                            .pagination-container
                                nav
                                    ul.pagination.justify-content-center

block js
    script(src="js/index.js")